{#base.html의 틀 그대로 가져옴(=extends), {% block content %} 내부의 내용만 현재 html에서 커스텀#}
{% extends 'base.html' %}

{% block content %}

    <div style="text-align: center; max-width: 500px; margin: 4rem auto">
        <div class="mb-4">
            <h4>Quit</h4>
        </div>

				<!-- 현재 로그인한 유저의 pk를 가져와 update -->
        <form action="{% url 'accountapp:delete' pk=user.pk %}" method="post">   <!-- 메소드는 post로 지정 -->
						<!-- post 메소드 사용시 반드시 csrf_token 필요 : django에서 기본 제공하는 보안 시스템, 없을시 동작 안함 -->
						{% csrf_token %}

            <input type="submit" class="btn btn-danger rounded-pill col-6 mt-3">
        </form>
    </div>

{% endblock %}